body{
    font-family: Arial;
}

.topo{
    background: #333;
    color: white;
    padding: 10px;
    flex-direction: row-reverse;
    display: flex;
    justify-content: center;
}

.carrinho{
    height: 30px;
    width: 30px;
}

.menu{
    background: #555;
    padding: 10px;
}

.menu a{
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

.menu a:hover{
    text-decoration: underline;
}

table{
    width: 100%;
}

footer{
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}